<!DOCTYPE html>
<html>
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/css/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>File Metadata Microservice API Documentation</h1>
        
        <div class="endpoint-section">
          <div class="endpoint-header">
            <span class="method-get">POST</span>
            <code>/api/fileanalyse</code>
          </div>
          
          <div class="endpoint-description">
            <p>Analyzes uploaded file and returns metadata including filename and size.</p>

            <h3>Request</h3>
            <table class="params-table">
              <tr>
                <th>Parameter</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
              <tr>
                <td>upfile</td>
                <td>file</td>
                <td>The file to be analyzed (multipart/form-data)</td>
              </tr>
            </table>

            <h3>Try it out</h3>
            <div class="demo-box">
              <div class="input-group">
                <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
                  <input id="inputfield" type="file" name="upfile">
                  <button type="submit">Upload</button>
                </form>
              </div>
              <div id="result" class="response">Results will appear here...</div>
            </div>

            <h3>Example Response</h3>
            <div class="example-box">
              <div class="response">
                <h4>Response:</h4>
                <pre>{
  "name": "example.txt",
  "type": "text/plain",
  "size": 1234
}</pre>
              </div>
            </div>

            <h3>Error Responses</h3>
            <div class="example-box">
              <div class="response">
                <h4>No file uploaded:</h4>
                <pre>{
  "error": "Please upload a file"
}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <script src="/public/js/script.js"></script>

      <div class="footer">
        <p>by <a href="https://minha12.github.io/personal-portfolio/">Minh-Ha Le</a></p>
      </div>
   </body>
</html>
